In [ ]:
#IMPORT LIBRARIES

In [496]:
import pandas as pd
import numpy as np

In [ ]:
#WE INSERT THE FIRST EXCEL WORKSHEET(SALES DATA) WHICH WAS HAVING TWO TABLES ON IT, NOW WHEN I INSERTED THEM THEY COMBINED AUTOMATILY, 
#BUT THE DATA NOW WILL REQUIRE A VERY HEAVY CLEANING BECAUSE IT DOESTN'T LOOK NICE NOW.

In [497]:
df1 = pd.read_excel(r"G:\Python Pandas,Jupyter\combine-tables.xlsx" , sheet_name= 'Sales Data')
df1

,Unnamed: 0,Unnamed: 1,Combine Two Excel Tables,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Sales Person,Geography,Product,Date,Amount,Boxes,Category,Size,NaN,Learn more:
4,NaN,NaN,Curtice Advani,Australia,After Nines,2022-01-24 00:00:00,1113,70,Bites,LARGE,NaN,Check out my Excel School program for complete...
...,...,...,...,...,...,...,...,...,...,...,...,...
353,NaN,NaN,Van Tuxwell,India,Drinking Coco,2022-01-19 00:00:00,10682,1526,Other,LARGE,NaN,NaN
354,NaN,NaN,Rafaelita Blaksland,Australia,Mint Chip Choco,2022-01-18 00:00:00,11746,511,Bars,LARGE,NaN,NaN
355,NaN,NaN,Kelci Walkden,Australia,Spicy Special Slims,2022-01-03 00:00:00,8862,1477,Bites,LARGE,NaN,NaN
356,NaN,NaN,Gunar Cockshoot,New Zealand,Mint Chip Choco,2022-01-21 00:00:00,11592,527,Bars,LARGE,NaN,NaN
357,NaN,NaN,Mallorie Waber,USA,Spicy Special Slims,2022-01-07 00:00:00,3871,431,Bites,LARGE,NaN,NaN

In [ ]:
#NOW WE INSERT ANOTHER WORKSHEET(MAPPING TABLES) WHICH GOT TWO TABLES AGAIN, AND THE DATA IS VERY BAD, WE NEED TO DO A VERY HEAVY CLEANING AS WELL.

In [498]:
df2 = pd.read_excel(r"G:\Python Pandas,Jupyter\combine-tables.xlsx" , sheet_name= 'Mapping tables')
df2

,Unnamed: 0,Unnamed: 1,Table to Combine,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Product,Category,Size,Cost per Box,NaN,NaN,Sales person,Team,Office,Commission %
3,NaN,NaN,Milk Bars,Bars,LARGE,1.8652,NaN,NaN,Barr Faughny,Yummies,Auckland,0.037
4,NaN,NaN,50% Dark Bites,Bites,LARGE,2.8,NaN,NaN,Dennison Crosswaite,Yummies,Auckland,0.013
5,NaN,NaN,Almond Choco,Bars,LARGE,13.3485,NaN,NaN,Gunar Cockshoot,Yummies,Auckland,0.02
6,NaN,NaN,Raspberry Choco,Bars,LARGE,6.0983,NaN,NaN,Wilone O'Kielt,Delish,Auckland,0.015
7,NaN,NaN,Mint Chip Choco,Bars,LARGE,2.2656,NaN,NaN,Gigi Bohling,Delish,Auckland,0.022
8,NaN,NaN,Eclairs,Bites,LARGE,2.8195,NaN,NaN,Curtice Advani,Delish,Wellington,0.039
9,NaN,NaN,Drinking Coco,Other,LARGE,2.4774,NaN,NaN,Kaine Padly,Delish,Auckland,0.049
10,NaN,NaN,99% Dark & Pure,Bars,LARGE,4.6592,NaN,NaN,Ches Bonnell,Tempo,Auckland,0.039
11,NaN,NaN,Orange Choco,Bars,LARGE,8.787,NaN,NaN,Andria Kimpton,Jucies,Auckland,0.022
12,NaN,NaN,Spicy Special Slims,Bites,LARGE,9.2086,NaN,NaN,Brien Boise,Jucies,Auckland,0.044
13,NaN,NaN,After Nines,Bites,LARGE,6.3416,NaN,NaN,Husein Augar,Yummies,Wellington,0.021
14,NaN,NaN,Fruit & Nut Bars,Bars,LARGE,1.5935,NaN,NaN,Karlen McCaffrey,Yummies,Wellington,0.016
15,NaN,NaN,85% Dark Bars,Bars,SMALL,0.6958,NaN,NaN,Jan Morforth,Delish,Wellington,0.049
16,NaN,NaN,White Choc,Other,SMALL,0.2405,NaN,NaN,Dotty Strutley,Delish,Wellington,0.031
17,NaN,NaN,Baker's Choco Chips,Bars,SMALL,6.0811,NaN,NaN,Kelci Walkden,Yummies,Wellington,0.025
18,NaN,NaN,Organic Choco Syrup,Other,SMALL,1.7625,NaN,NaN,Marney O'Breen,Yummies,Wellington,0.039
19,NaN,NaN,Caramel Stuffed Bars,Bars,SMALL,0.899,NaN,NaN,Rafaelita Blaksland,Yummies,Wellington,0.021
20,NaN,NaN,Manuka Honey Choco,Other,SMALL,7.8911,NaN,NaN,Madelene Upcott,Jucies,Wellington,0.043
21,NaN,NaN,70% Dark Bites,Bites,SMALL,8.2429,NaN,NaN,Beverie Moffet,Jucies,Sydney,0.038
22,NaN,NaN,Smooth Sliky Salty,Bars,SMALL,5.0198,NaN,NaN,Oby Sorrel,Jucies,Sydney,0.015
23,NaN,NaN,Choco Coated Almonds,Bites,SMALL,11.4688,NaN,NaN,Mallorie Waber,Tempo,Sydney,0.043
24,NaN,NaN,Peanut Butter Cubes,Bites,SMALL,4.7065,NaN,NaN,Jehu Rudeforth,Tempo,Sydney,0.025
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Van Tuxwell,Yummies,Sydney,0.018
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Roddy Speechley,Delish,Sydney,0.033
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camilla Castle,Tempo,Sydney,0.024

In [ ]:
#DATA FRAME ONE WHO IS THE FIRST WORKSHEET, THE FIRST THING WE DOING IS TO REMOVE THE EMPTY COLUMNS.

In [499]:
df1.drop(columns= ['Unnamed: 10','Unnamed: 0','Unnamed: 1', 'Unnamed: 11'], inplace=True)

In [ ]:
#AND NEXT WE REMOVE,EMPTY ROWS.

In [500]:
df1.drop([0,1], inplace=True)

In [ ]:
#WE WANT TO SEE THE COLUMNS WE HAVE ON DATA FRAME 1

In [501]:
df1.columns

Index(['Combine Two Excel Tables', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [ ]:
#NOW WE ARE RENAMING ALL THE COLUMNS.

In [522]:
df1.rename(columns= {'Combine Two Excel Tables':'Sales Person', 'Unnamed: 3':'Geography','Unnamed: 4':'Product', 'Unnamed: 5':'Date',
                     'Unnamed: 6':'Amount','Unnamed: 7':'Boxes','Unnamed: 8':'Category','Unnamed: 9':'Size'},inplace=True)
df1

,Sales Person,Geography,Product,Date,Amount,Boxes,Category,Size
4,Curtice Advani,Australia,After Nines,2022-01-24 00:00:00,1113,70,Bites,LARGE
5,Andria Kimpton,Australia,Manuka Honey Choco,2022-01-11 00:00:00,6699,609,Other,SMALL
6,Dennison Crosswaite,USA,Orange Choco,2022-01-14 00:00:00,7805,488,Bars,LARGE
7,Kelci Walkden,UK,Spicy Special Slims,2022-01-11 00:00:00,8134,1162,Bites,LARGE
8,Ches Bonnell,Canada,99% Dark & Pure,2022-01-28 00:00:00,12901,993,Bars,LARGE
...,...,...,...,...,...,...,...,...
353,Van Tuxwell,India,Drinking Coco,2022-01-19 00:00:00,10682,1526,Other,LARGE
354,Rafaelita Blaksland,Australia,Mint Chip Choco,2022-01-18 00:00:00,11746,511,Bars,LARGE
355,Kelci Walkden,Australia,Spicy Special Slims,2022-01-03 00:00:00,8862,1477,Bites,LARGE
356,Gunar Cockshoot,New Zealand,Mint Chip Choco,2022-01-21 00:00:00,11592,527,Bars,LARGE
357,Mallorie Waber,USA,Spicy Special Slims,2022-01-07 00:00:00,3871,431,Bites,LARGE

In [ ]:
#AFTER RENAMING WE REMOVE ROW THREE, WHICH WAS THE ONE THAT WAS HAVING THE ORIGINAL COLUMNS NAMES.

In [503]:
df1.drop([3], inplace=True)
df1

,Sales Person,Geography,Product,Date,Amount,Boxes,Category,Size
4,Curtice Advani,Australia,After Nines,2022-01-24 00:00:00,1113,70,Bites,LARGE
5,Andria Kimpton,Australia,Manuka Honey Choco,2022-01-11 00:00:00,6699,609,Other,SMALL
6,Dennison Crosswaite,USA,Orange Choco,2022-01-14 00:00:00,7805,488,Bars,LARGE
7,Kelci Walkden,UK,Spicy Special Slims,2022-01-11 00:00:00,8134,1162,Bites,LARGE
8,Ches Bonnell,Canada,99% Dark & Pure,2022-01-28 00:00:00,12901,993,Bars,LARGE
...,...,...,...,...,...,...,...,...
353,Van Tuxwell,India,Drinking Coco,2022-01-19 00:00:00,10682,1526,Other,LARGE
354,Rafaelita Blaksland,Australia,Mint Chip Choco,2022-01-18 00:00:00,11746,511,Bars,LARGE
355,Kelci Walkden,Australia,Spicy Special Slims,2022-01-03 00:00:00,8862,1477,Bites,LARGE
356,Gunar Cockshoot,New Zealand,Mint Chip Choco,2022-01-21 00:00:00,11592,527,Bars,LARGE
357,Mallorie Waber,USA,Spicy Special Slims,2022-01-07 00:00:00,3871,431,Bites,LARGE

In [ ]:
#WE WANT TO SEE IF WE HAVE ANY MISSING VALUES, AND DUPLICATED, BUT WE SEEM TO HAVE NO MISSING VALUE OR EVEN DUPLICATED

In [504]:
df1.isnull().sum().sum()

np.int64(0)

In [505]:
df1.duplicated().sum().sum()

np.int64(0)

In [ ]:
#NOW WE WANT TO SEE THE INFORMATION ABOUT DATA FRAME 1, TO SEE IF WE GOT COLUMNS THAT WE NEED TO CONVERT TO CHANGE DATA TYPE.

In [506]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 4 to 357
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  354 non-null    object
 1   Geography     354 non-null    object
 2   Product       354 non-null    object
 3   Date          354 non-null    object
 4   Amount        354 non-null    object
 5   Boxes         354 non-null    object
 6   Category      354 non-null    object
 7   Size          354 non-null    object
dtypes: object(8)
memory usage: 22.3+ KB

In [ ]:
#BELOW, WE ARE CHANGING THESE TWO COLUMNS 'AMOUNT' AND 'BOXES' INTO INTERGERS.

In [507]:
df1['Amount'] = df1['Amount'].astype('int')

In [508]:
df1['Boxes'] = df1['Boxes'].astype('int')

In [ ]:
#NOW IF WE CHECK THEY ARE CHANGED.

In [509]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 4 to 357
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  354 non-null    object
 1   Geography     354 non-null    object
 2   Product       354 non-null    object
 3   Date          354 non-null    object
 4   Amount        354 non-null    int64
 5   Boxes         354 non-null    int64
 6   Category      354 non-null    object
 7   Size          354 non-null    object
dtypes: int64(2), object(6)
memory usage: 22.3+ KB

In [ ]:
#NOW WE LOOKING AT DATA FRAME 2, WE WANT TO REMOVE THE EMPTY COLUMNS, AND THE EXTRA COLUMNS.

In [510]:
df2.drop(columns= ['Unnamed: 0','Unnamed: 1','Unnamed: 6','Unnamed: 7'], inplace=True)
df2

,Table to Combine,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Product,Category,Size,Cost per Box,Sales person,Team,Office,Commission %
3,Milk Bars,Bars,LARGE,1.8652,Barr Faughny,Yummies,Auckland,0.037
4,50% Dark Bites,Bites,LARGE,2.8,Dennison Crosswaite,Yummies,Auckland,0.013
5,Almond Choco,Bars,LARGE,13.3485,Gunar Cockshoot,Yummies,Auckland,0.02
6,Raspberry Choco,Bars,LARGE,6.0983,Wilone O'Kielt,Delish,Auckland,0.015
7,Mint Chip Choco,Bars,LARGE,2.2656,Gigi Bohling,Delish,Auckland,0.022
8,Eclairs,Bites,LARGE,2.8195,Curtice Advani,Delish,Wellington,0.039
9,Drinking Coco,Other,LARGE,2.4774,Kaine Padly,Delish,Auckland,0.049
10,99% Dark & Pure,Bars,LARGE,4.6592,Ches Bonnell,Tempo,Auckland,0.039
11,Orange Choco,Bars,LARGE,8.787,Andria Kimpton,Jucies,Auckland,0.022
12,Spicy Special Slims,Bites,LARGE,9.2086,Brien Boise,Jucies,Auckland,0.044
13,After Nines,Bites,LARGE,6.3416,Husein Augar,Yummies,Wellington,0.021
14,Fruit & Nut Bars,Bars,LARGE,1.5935,Karlen McCaffrey,Yummies,Wellington,0.016
15,85% Dark Bars,Bars,SMALL,0.6958,Jan Morforth,Delish,Wellington,0.049
16,White Choc,Other,SMALL,0.2405,Dotty Strutley,Delish,Wellington,0.031
17,Baker's Choco Chips,Bars,SMALL,6.0811,Kelci Walkden,Yummies,Wellington,0.025
18,Organic Choco Syrup,Other,SMALL,1.7625,Marney O'Breen,Yummies,Wellington,0.039
19,Caramel Stuffed Bars,Bars,SMALL,0.899,Rafaelita Blaksland,Yummies,Wellington,0.021
20,Manuka Honey Choco,Other,SMALL,7.8911,Madelene Upcott,Jucies,Wellington,0.043
21,70% Dark Bites,Bites,SMALL,8.2429,Beverie Moffet,Jucies,Sydney,0.038
22,Smooth Sliky Salty,Bars,SMALL,5.0198,Oby Sorrel,Jucies,Sydney,0.015
23,Choco Coated Almonds,Bites,SMALL,11.4688,Mallorie Waber,Tempo,Sydney,0.043
24,Peanut Butter Cubes,Bites,SMALL,4.7065,Jehu Rudeforth,Tempo,Sydney,0.025
25,NaN,NaN,NaN,NaN,Van Tuxwell,Yummies,Sydney,0.018
26,NaN,NaN,NaN,NaN,Roddy Speechley,Delish,Sydney,0.033
27,NaN,NaN,NaN,NaN,Camilla Castle,Tempo,Sydney,0.024

In [ ]:
#WE WANT TO SEE ALL THE COLUMNS WE HAVE ON DATA FRAME 2.

In [511]:
df2.columns

Index(['Table to Combine', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [ ]:
#NOW WE CAN CHANGE THE COLUMNS NAMES.

In [512]:
df2.rename(columns= {'Table to Combine': 'Product', 'Unnamed: 3':'Category','Unnamed: 4' :'Size','Unnamed: 5':'Cost per Box',
                     'Unnamed: 8': 'Sales Person','Unnamed: 9':'Team','Unnamed: 10':'Office', 'Unnamed: 11':'Commission %'},inplace=True)
df2

,Product,Category,Size,Cost per Box,Sales Person,Team,Office,Commission %
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Product,Category,Size,Cost per Box,Sales person,Team,Office,Commission %
3,Milk Bars,Bars,LARGE,1.8652,Barr Faughny,Yummies,Auckland,0.037
4,50% Dark Bites,Bites,LARGE,2.8,Dennison Crosswaite,Yummies,Auckland,0.013
5,Almond Choco,Bars,LARGE,13.3485,Gunar Cockshoot,Yummies,Auckland,0.02
6,Raspberry Choco,Bars,LARGE,6.0983,Wilone O'Kielt,Delish,Auckland,0.015
7,Mint Chip Choco,Bars,LARGE,2.2656,Gigi Bohling,Delish,Auckland,0.022
8,Eclairs,Bites,LARGE,2.8195,Curtice Advani,Delish,Wellington,0.039
9,Drinking Coco,Other,LARGE,2.4774,Kaine Padly,Delish,Auckland,0.049
10,99% Dark & Pure,Bars,LARGE,4.6592,Ches Bonnell,Tempo,Auckland,0.039
11,Orange Choco,Bars,LARGE,8.787,Andria Kimpton,Jucies,Auckland,0.022
12,Spicy Special Slims,Bites,LARGE,9.2086,Brien Boise,Jucies,Auckland,0.044
13,After Nines,Bites,LARGE,6.3416,Husein Augar,Yummies,Wellington,0.021
14,Fruit & Nut Bars,Bars,LARGE,1.5935,Karlen McCaffrey,Yummies,Wellington,0.016
15,85% Dark Bars,Bars,SMALL,0.6958,Jan Morforth,Delish,Wellington,0.049
16,White Choc,Other,SMALL,0.2405,Dotty Strutley,Delish,Wellington,0.031
17,Baker's Choco Chips,Bars,SMALL,6.0811,Kelci Walkden,Yummies,Wellington,0.025
18,Organic Choco Syrup,Other,SMALL,1.7625,Marney O'Breen,Yummies,Wellington,0.039
19,Caramel Stuffed Bars,Bars,SMALL,0.899,Rafaelita Blaksland,Yummies,Wellington,0.021
20,Manuka Honey Choco,Other,SMALL,7.8911,Madelene Upcott,Jucies,Wellington,0.043
21,70% Dark Bites,Bites,SMALL,8.2429,Beverie Moffet,Jucies,Sydney,0.038
22,Smooth Sliky Salty,Bars,SMALL,5.0198,Oby Sorrel,Jucies,Sydney,0.015
23,Choco Coated Almonds,Bites,SMALL,11.4688,Mallorie Waber,Tempo,Sydney,0.043
24,Peanut Butter Cubes,Bites,SMALL,4.7065,Jehu Rudeforth,Tempo,Sydney,0.025
25,NaN,NaN,NaN,NaN,Van Tuxwell,Yummies,Sydney,0.018
26,NaN,NaN,NaN,NaN,Roddy Speechley,Delish,Sydney,0.033
27,NaN,NaN,NaN,NaN,Camilla Castle,Tempo,Sydney,0.024

In [ ]:
#NOW WE REMOVING FROM ROW INDEX 0, 1 AND 2.

In [513]:
df2.drop([0,1,2],inplace=True)
df2

,Product,Category,Size,Cost per Box,Sales Person,Team,Office,Commission %
3,Milk Bars,Bars,LARGE,1.8652,Barr Faughny,Yummies,Auckland,0.037
4,50% Dark Bites,Bites,LARGE,2.8,Dennison Crosswaite,Yummies,Auckland,0.013
5,Almond Choco,Bars,LARGE,13.3485,Gunar Cockshoot,Yummies,Auckland,0.02
6,Raspberry Choco,Bars,LARGE,6.0983,Wilone O'Kielt,Delish,Auckland,0.015
7,Mint Chip Choco,Bars,LARGE,2.2656,Gigi Bohling,Delish,Auckland,0.022
8,Eclairs,Bites,LARGE,2.8195,Curtice Advani,Delish,Wellington,0.039
9,Drinking Coco,Other,LARGE,2.4774,Kaine Padly,Delish,Auckland,0.049
10,99% Dark & Pure,Bars,LARGE,4.6592,Ches Bonnell,Tempo,Auckland,0.039
11,Orange Choco,Bars,LARGE,8.787,Andria Kimpton,Jucies,Auckland,0.022
12,Spicy Special Slims,Bites,LARGE,9.2086,Brien Boise,Jucies,Auckland,0.044
13,After Nines,Bites,LARGE,6.3416,Husein Augar,Yummies,Wellington,0.021
14,Fruit & Nut Bars,Bars,LARGE,1.5935,Karlen McCaffrey,Yummies,Wellington,0.016
15,85% Dark Bars,Bars,SMALL,0.6958,Jan Morforth,Delish,Wellington,0.049
16,White Choc,Other,SMALL,0.2405,Dotty Strutley,Delish,Wellington,0.031
17,Baker's Choco Chips,Bars,SMALL,6.0811,Kelci Walkden,Yummies,Wellington,0.025
18,Organic Choco Syrup,Other,SMALL,1.7625,Marney O'Breen,Yummies,Wellington,0.039
19,Caramel Stuffed Bars,Bars,SMALL,0.899,Rafaelita Blaksland,Yummies,Wellington,0.021
20,Manuka Honey Choco,Other,SMALL,7.8911,Madelene Upcott,Jucies,Wellington,0.043
21,70% Dark Bites,Bites,SMALL,8.2429,Beverie Moffet,Jucies,Sydney,0.038
22,Smooth Sliky Salty,Bars,SMALL,5.0198,Oby Sorrel,Jucies,Sydney,0.015
23,Choco Coated Almonds,Bites,SMALL,11.4688,Mallorie Waber,Tempo,Sydney,0.043
24,Peanut Butter Cubes,Bites,SMALL,4.7065,Jehu Rudeforth,Tempo,Sydney,0.025
25,NaN,NaN,NaN,NaN,Van Tuxwell,Yummies,Sydney,0.018
26,NaN,NaN,NaN,NaN,Roddy Speechley,Delish,Sydney,0.033
27,NaN,NaN,NaN,NaN,Camilla Castle,Tempo,Sydney,0.024

In [ ]:
#NOW IT IS EASY FOR US TO MERGE THE TWO DATA SETS, AND WE CALL IT DATA FRAME 4.

In [514]:
df4 = df1.merge(df2)

In [ ]:
#BELOW IS THE COMBINED DATA SET.

In [515]:
df4

,Sales Person,Geography,Product,Date,Amount,Boxes,Category,Size,Cost per Box,Team,Office,Commission %
0,Ches Bonnell,Canada,99% Dark & Pure,2022-01-28 00:00:00,12901,993,Bars,LARGE,4.6592,Tempo,Auckland,0.039
1,Madelene Upcott,Canada,Manuka Honey Choco,2022-01-19 00:00:00,9975,713,Other,SMALL,7.8911,Jucies,Wellington,0.043
2,Brien Boise,Canada,Spicy Special Slims,2022-01-04 00:00:00,10710,1339,Bites,LARGE,9.2086,Jucies,Auckland,0.044
3,Dotty Strutley,UK,White Choc,2022-01-05 00:00:00,7469,1067,Other,SMALL,0.2405,Delish,Wellington,0.031
4,Dotty Strutley,USA,White Choc,2022-01-07 00:00:00,3241,541,Other,SMALL,0.2405,Delish,Wellington,0.031
5,Madelene Upcott,UK,Manuka Honey Choco,2022-01-18 00:00:00,1666,129,Other,SMALL,7.8911,Jucies,Wellington,0.043
6,Andria Kimpton,UK,Orange Choco,2022-01-21 00:00:00,6930,385,Bars,LARGE,8.787,Jucies,Auckland,0.022
7,Madelene Upcott,Australia,Manuka Honey Choco,2022-01-25 00:00:00,469,47,Other,SMALL,7.8911,Jucies,Wellington,0.043
8,Mallorie Waber,Canada,Choco Coated Almonds,2022-01-24 00:00:00,3444,182,Bites,SMALL,11.4688,Tempo,Sydney,0.043
9,Madelene Upcott,New Zealand,Manuka Honey Choco,2022-01-21 00:00:00,9968,907,Other,SMALL,7.8911,Jucies,Wellington,0.043
10,Karlen McCaffrey,Canada,Fruit & Nut Bars,2022-01-24 00:00:00,11900,1700,Bars,LARGE,1.5935,Yummies,Wellington,0.016
11,Wilone O'Kielt,USA,Raspberry Choco,2022-01-14 00:00:00,2114,118,Bars,LARGE,6.0983,Delish,Auckland,0.015
12,Dennison Crosswaite,UK,50% Dark Bites,2022-01-14 00:00:00,4123,148,Bites,LARGE,2.8,Yummies,Auckland,0.013

In [ ]:
#LET SEE THE INFORMATION ABOUT DATA FRAME 4 OUR COMBINED DATA, WE WANT TO SEE IF WE DONT HAVE ANY COLUMN THAT WE NEED TO CONVERT 
#TO A DIFFEENT DATA SET.

In [516]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  13 non-null     object
 1   Geography     13 non-null     object
 2   Product       13 non-null     object
 3   Date          13 non-null     object
 4   Amount        13 non-null     int64
 5   Boxes         13 non-null     int64
 6   Category      13 non-null     object
 7   Size          13 non-null     object
 8   Cost per Box  13 non-null     object
 9   Team          13 non-null     object
 10  Office        13 non-null     object
 11  Commission %  13 non-null     object
dtypes: int64(2), object(10)
memory usage: 1.3+ KB

In [ ]:
#WE ARE CONVERTING TWO COLUMNS TO FLOAT BECAUSE THEY ARE DECIMALS.

In [519]:
df4['Cost per Box']= df4['Cost per Box'].astype('float') 
df4['Commission %']= df4['Commission %'].astype('float')

In [ ]:
#NOW WE CAN SEE BELOW ALL THE COLUMNS ARE IN THE RIGHT DATA TYPES.
#NOW WE CAN SAY OUR DATA IS CLEANED, OUR PROJECT IS DONE.

In [521]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  13 non-null     object
 1   Geography     13 non-null     object
 2   Product       13 non-null     object
 3   Date          13 non-null     object
 4   Amount        13 non-null     int64
 5   Boxes         13 non-null     int64
 6   Category      13 non-null     object
 7   Size          13 non-null     object
 8   Cost per Box  13 non-null     float64
 9   Team          13 non-null     object
 10  Office        13 non-null     object
 11  Commission %  13 non-null     float64
dtypes: float64(2), int64(2), object(8)
memory usage: 1.3+ KB